<%- include('./partials/header', { title: 'Ruang Tau' }) %>
    <div class="m-5">
        <h1>CATEGORY</h1><br>
        <a href="/admin/category/add">
            <button
                class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-900 text-white hover:bg-blue-950 disabled:opacity-50 disabled:pointer-events-none">
                ADD CATEGORY
            </button>
        </a>
    </div>



    <div class="relative overflow-x-auto m-5">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        No
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>

                </tr>
            </thead>
            <tbody>
                <% category.forEach((el,index)=> {%>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= index+1 %>
                        </th>
                        <td class="px-6 py-4">
                            <%= el.name %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    </main>
    </body>

    </html>