<%- include('./partials/header', { title: 'Ruang Tau' }) %>

  <h1>DASHBOARD</h1>
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div>
          <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Total Category</h3>
            <br>
            <h2 class=" text-gray-700 dark:text-gray-300">
              <%= totalCategory %>
            </h2><br>
          </a>
        </div>
        <div>
          <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">totalCourse</h5><br>
            <p class="font-normal text-gray-700 dark:text-gray-300">
              <%= totalCourse %>
            </p><br>
          </a>
        </div>
        <div>
          <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Total Student</h5>
            <br>
            <p class="font-normal text-gray-700 dark:text-gray-300">
              <%= totalStudent %>
            </p><br>
          </a>
        </div>
      </div>

    </div>
  </section>
  </main>
  </body>

  </html>