<%- include('./partials/header', { title: 'Ruang Tau' }) %>

  <section class="bg-secondary.bg-gradient">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <header class="text-center">
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Ruang Tau</h2>

        <p class="mx-auto mt-4 max-w-md text-gray-500">
          Teknologi,
          dari waktu ke waktu mengalami perkembangan dan pertumbuhan yang sangat pesat.
          Hampir setiap harinya dalam sistem teknologi pasti ada pembaharuan sistem yang dilakukan.
          Untuk itu, sebagai manusia harus siap menghadapi perkembangan teknologi. Di Ruang Tau ini akan
          diberikan course tentang perkembangan teknologi yang bisa mewakili saat ini
        </p>
      </header>
    </div>
  </section>
  </main>
  </body>

  </html>