<%- include('./partials/header', { title: 'Ruang Tau' }) %>
  <br><br><br><br><br><br>

  <section class="bg-cover bg-center py-8">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <header class="text-center">
            <p class="mx-auto mt-4 text-lg font-semibold text-gray-300">
            <h2 style="background-color: #f7fafc; padding: 10px;">Teknologi, dari waktu ke waktu mengalami perkembangan
              dan pertumbuhan yang sangat pesat.
              Hampir setiap harinya dalam sistem teknologi pasti ada pembaharuan sistem yang dilakukan.
              Untuk itu, sebagai manusia harus siap menghadapi perkembangan teknologi. Di Ruang Tau ini akan
              diberikan course tentang perkembangan teknologi yang bisa mewakili saat ini.
            </h2>
            </p>
          </header>
        </div>
      </div>
    </div>
  </section>

  </main>
  </body>

  </html>